<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/assets/custom.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <title>Agenda2020</title>
  </head>

  <body>
    <div th:fragment="navigation">
      <nav
        class="navbar navbar-expand-sm navbar navbar-light"
        style="background-color: #e3f2fd"
      >
        <a class="navbar-brand" href="/"
          ><img
            src="/assets/logo.png"
            width="30"
            height="30"
            alt=""
          />Agenda2020</a
        >

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li th:if="${administration}" class="nav-item">
              <a class="nav-link" href="/users">Anwenderverwaltung</a>
            </li>
            <li th:if="${user}" class="nav-item">
              <a class="nav-link" href="/tasks">Tasks</a>
            </li>
            <li th:if="${user}" class="nav-item">
              <a class="nav-link" href="/topics">Topics</a>
            </li>
          </ul>
          <span th:if="${user}" class="nav-link"
            >Sie sind eingeloggt als
            <strong th:text="${user.displayName}"></strong>
          </span>
          <form th:if="${user}" th:action="@{/logout}" method="post">
            <button class="btn btn-secondary" type="submit">Abmelden</button>
          </form>
          <a class="btn btn-secondary" th:unless="${user}" href="/login"
            >Anmelden</a
          >
        </div>
      </nav>
      <div
        th:if="${success!=null}"
        class="alert alert-success alert-dismissible fade show"
        role="alert"
      >
        <strong>Yay!</strong> <span th:text="${success}"></span>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div
        th:if="${warning!=null}"
        class="alert alert-warning alert-dismissible fade show"
        role="alert"
      >
        <strong>Hmm!</strong> <span th:text="${warning}"></span>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div
        th:if="${error!=null}"
        class="alert alert-danger alert-dismissible fade show"
        role="alert"
      >
        <strong>Hmm!</strong> <span th:text="${error}"></span>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div
        th:if="${msg!=info}"
        class="alert alert-secondary alert-dismissible fade show"
        role="alert"
      >
        <strong>Hmm!</strong> <span th:text="${info}"></span>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    <th:block th:fragment="scripts">
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"
      ></script>
    </th:block>
  </body>
</html>
