<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head" />
<body>
	<nav th:replace="fragments :: navigation"></nav>

	<div class="jumbotron">
		<h1 class="display-4">Deine Agenda</h1>
		<p class="lead">Keine Deadline mehr verpassen!</p>
		<hr class="my-4">
		<p>
			Agenda2020 ist eine einfache Verwaltung für Aufgaben in Kursen.
			Kursleiter*innen oder Teilnehmer*innen legen einmalig ein <i>Topic</i>
			für einen Kurs an und tragen zu erledigende Aufgaben (<i>Tasks</i>)
			ein. Teilnehmer*innen abonnieren das Topic und haben so ständig eine 
			Übersicht über alle noch offenen Aufgaben.
		</p>
		<form class="form-inline" th:object="${registration}" th:if="${user}" th:action="@{/register}" method="post">
			<div class="form-group">
				<input maxlength="8" th:field="*{key}" class="form-control" placeholder="Schlüssel"/>
			</div>
			<button type="submit" class="btn btn-secondary">Beitreten!</button>
			<small th:if="${user}" class="form-text text-muted">Sie erhalten einen Schlüssel vom Kursleiter!</small>
		</form>
	</div>

	<th:block th:replace="fragments :: scripts">
</body>
</html>
