<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head" />
<body>
<div class="container-fluid">
    <nav th:replace="fragments :: navigation"></nav>

    <div class="row justify-content-center bg-light">
        <div class="col-12">
            <h4 class="display-4">
                Vom Topic <i th:text=${topic.title}></i> abmelden
            </h4>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text="${topic.title}">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted"
                        th:text="'Von '+${topic.creator.displayName}">Card subtitle</h6>
                    <p class="card-text" th:text="${topic.shortTopicDescription}"/>
                    <div class="btn-group btn-group-lg mr-1">
                        <form id="formName" th:action="@{/topics/{uuid}/unsubscribe(uuid=${topic.uuid})}"
                              method="post">
                            <button type="submit" class="btn btn-primary">Abmelden</button>
                            <a href="/topics" class="btn btn-danger">Abbrechen</a>
                        </form>
                    </div>
                    <p><small class="text-mute">Sie können den Topic jederzeit wieder abonnieren!</small></p>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="fragments :: scripts"/>
</body>
</html>